.expense-body{
    background-color: #9266ff;
    min-height:100%;
    top:0
  }
  
  .expense-app{
    background-color: #3f3160;
    /* min-height: 500px; */
    min-height: 100vh;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  
  #to-do-form input{
    background-color: rgb(27,112,137);
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    /* color: white; */
  }
  
  #to-do-form input::placeholder{
    color: rgba(255, 255, 255, 0.5);
  }
  
  #to-do-form input:focus, #to-do-form button:focus{
    outline: none;
  }
  
  #to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(202, 156, 24);
    cursor: pointer;
    font-weight: bolder;
    color: white;
  }