.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d2ae8;
  .container {
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: white;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2800px;
    .cover {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      left: 50%;
      z-index: 98;
      transition: all 1s ease;

      transform-origin: left;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 12;
      }
      .back {
        .backImg {
          background-image: url("https://images.pexels.com/photos/9575453/pexels-photo-9575453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
          transform: rotateY(180deg);
        }
        .text {
          .text-1,
          .text-2 {
            transform: rotatey(180deg);
          }
          .text-1,
          .text-2 :after {
            transform: rotatey(180deg);
          }
        }
      }
      .text {
        position: absolute;
        z-index: 112;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;

        .text-1,
        .text-2 {
          font-size: 26px;
          font-weight: 600;
          color: #fff;
          text-align: center;
        }
        .text-2 {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    .cover::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #7d2ae8;
      opacity: 0.5;
      z-index: 100;
    }
    .cover::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #7d2ae8;
      opacity: 0.5;
      z-index: 100;
      transform: rotateY(180deg);
    }
    form {
      height: 100%;
      width: 100%;
      background: #fff;
      .form-content {
        .title {
          font-size: 24px;
          font-weight: 500;
          color: #333;
          position: relative;
        }
        .input-boxes {
          margin-top: 25px;
          .text_FP {
            margin: 20px 0px 0px 0px;
            a {
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
        .input_box {
          display: flex;
          align-items: center;
          height: 70px;

          margin: 10px 0px;
          position: relative;
          .input_field {
            width: 300px;
          }

          Button {
            height: 50%;
            width: 80%;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
          }
          .icon {
            position: absolute;
            margin-left: -25px;
            color: #7d2ae8;
            font-size: 17px;
          }
        }
        label {
          color: #5b13b9;
          cursor: pointer;
        }
        label:hover {
          text-decoration: underline;
        }
        .login-text,
        .sign-up-text {
          text-align: start;
          margin-top: 25px;
        }
      }
      .form-content {
        .title:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 25px;
          margin-top: 5px;
          background-color: #7d2ae8;
        }
      }
      .signup-form {
        .title:before {
          width: 20px;
        }
        .formInput {
          img {
            border-radius: 50%;
          }
        }
      }
    }
    .img_avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 0.5px solid black;
    }
    .formInput {
      position: absolute;
      margin: 30px 60px;
    }
    .form-content {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .login-form,
      .signup-form {
        width: calc((100% / 2) - 25px);
        margin-left: 40px;
      }
    }
    #flip:checked ~ .cover {
      transform: rotateY(-180deg);
      backface-visibility: hidden;
    }
  }
}
.container #flip {
  display: none;
}
@media (max-width: 730px) {
  .container {
    .cover {
      display: none;
    }
    form {
      .login-form,
      .signup-form {
        .input_box {
          .input_field {
            width: 10px;
          }
        }
      }
    }
    #flip:checked ~ form .form-content .signup-form {
      display: block;
    }
    #flip:checked ~ form .form-content .login-form {
      display: none;
    }
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }
  .form-content .signup-form {
    display: none;
  }
}
